<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular Volumen de un Cilindro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

    
    <h2>CÁLCULO DEL VOLUMEN DE UN CILINDRO</h2>
    <form class="container-fluid" action="{% url 'encuesta:resultado' %}" method="post">
        {% csrf_token %}
    <p>Introduzca el diámetro en metros: </p> <input type="text" name="diametro">
    <p>Introduzca la altura en metros: </p> <input type="text" name="altura">
    <br><br>
    <button class="btn bg-primary text-white" type="submit">Calcular</button>
    </form>
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>